src/main/resources/com/opengisviewer/ogc/wms/wms-1_0_7/1.0.7/capabilities_1_0_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WMT_MS_Capabilities" type="WMT_MS_CapabilitiesType">
    <xs:annotation>
      <xs:documentation> The DTD (Document Type Definition) given here must correspond to the version number declared in the WMT_MS_Capabilities element below.  Output formats known to this server are defined here
if necessary (only if a format not already listed in the WMT
Capabilities DTD is needed).  To define a new format, place
an entity definition for KnownFormats like the one below in
the DOCTYPE declaration of your Capabilities XML, listing at
minimum all of the formats you support and separating each
by logical-OR (|) characters.  Then, define a new element
for any formats not predefined by WMT.  For example, in the
following list "SGI" is a server-specific format, while all
the others are known WMT-wide.  Thus, SGI is included in the
KnownFormats list and a new empty element &lt;SGI/> is
defined.  Silicon Graphics RGB Format  other vendor-specific elements defined here  end of DOCTYPE declaration  The version number listed in the WMT_MS_Capabilities element here must correspond to the DTD declared above.  See the WMT specification document for how to respond when a client requests a version number not implemented by the server. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="KeywordListType">
    <xs:sequence>
      <xs:element name="Keyword" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="bird"/>
            <xs:enumeration value="roadrunner"/>
            <xs:enumeration value="ambush"/>
            <xs:enumeration value="road"/>
            <xs:enumeration value="transportation"/>
            <xs:enumeration value="atlas"/>
            <xs:enumeration value="river"/>
            <xs:enumeration value="canal"/>
            <xs:enumeration value="waterway"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnlineResourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xlin:href" xmlns:xlin="http://www.w3.org/1999/xlink"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactPersonPrimaryType">
    <xs:sequence>
      <xs:element type="xs:string" name="ContactPerson"/>
      <xs:element type="xs:string" name="ContactOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="AddressType"/>
      <xs:element type="xs:string" name="Address"/>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="StateOrProvince"/>
      <xs:element type="xs:string" name="PostCode"/>
      <xs:element type="xs:string" name="Country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInformationType">
    <xs:sequence>
      <xs:element type="ContactPersonPrimaryType" name="ContactPersonPrimary"/>
      <xs:element type="xs:string" name="ContactPosition"/>
      <xs:element type="ContactAddressType" name="ContactAddress"/>
      <xs:element type="xs:string" name="ContactVoiceTelephone"/>
      <xs:element type="xs:string" name="ContactFacsimileTelephone"/>
      <xs:element type="xs:string" name="ContactElectronicMailAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name">
        <xs:annotation>
          <xs:documentation> The WMT-defined name for this type of service </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Title">
        <xs:annotation>
          <xs:documentation> Human-readable title for pick lists </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Abstract">
        <xs:annotation>
          <xs:documentation> Narrative description providing additional information </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="KeywordListType" name="KeywordList"/>
      <xs:element type="OnlineResourceType" name="OnlineResource">
        <xs:annotation>
          <xs:documentation> Top-level web address of service or service provider.  See also OnlineResource
  elements under &lt;DCPType>. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ContactInformationType" name="ContactInformation">
        <xs:annotation>
          <xs:documentation> Contact information </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Fees">
        <xs:annotation>
          <xs:documentation> Fees or access constraints imposed. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="AccessConstraints"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormatType">
    <xs:sequence>
      <xs:element type="xs:string" name="SGI" minOccurs="0"/>
      <xs:element type="xs:string" name="GIF" minOccurs="0"/>
      <xs:element type="xs:string" name="JPEG" minOccurs="0"/>
      <xs:element type="xs:string" name="PNG" minOccurs="0"/>
      <xs:element type="xs:string" name="MIME" minOccurs="0"/>
      <xs:element type="xs:string" name="GML.1" minOccurs="0">
        <xs:annotation>
          <xs:documentation> what is a valid format? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="BLANK" minOccurs="0"/>
      <xs:element type="xs:string" name="WMS_XML" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetType">
    <xs:sequence>
      <xs:element type="OnlineResourceType" name="OnlineResource">
        <xs:annotation>
          <xs:documentation> The URL here for invoking GetMap using HTTP GET includes
            only the prefix before the '?' and the query string.  Clients are
            expected to append '?WMTVER=nnn&amp;request=map&amp;etc' as described in
            the WMS specification.  The URL here for invoking GetCapabilities using HTTP GET
            includes only the prefix before the '?' and the query string.
            Clients are expected to append '?WMTVER=nnn&amp;request=capabilities'
            as described in the WMS specification. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HTTPType">
    <xs:sequence>
      <xs:element type="GetType" name="Get"/>
      <xs:element type="PostType" name="Post" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DCPTypeType">
    <xs:sequence>
      <xs:element type="HTTPType" name="HTTP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MapType">
    <xs:sequence>
      <xs:element type="FormatType" name="Format"/>
      <xs:element type="DCPTypeType" name="DCPType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DescribeLayerType">
    <xs:sequence>
      <xs:element type="FormatType" name="Format"/>
      <xs:element type="DCPTypeType" name="DCPType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostType">
    <xs:sequence>
      <xs:element type="OnlineResourceType" name="OnlineResource">
        <xs:annotation>
          <xs:documentation> The URL here for invoking GetCapabilities using HTTP POST
            includes the complete address to which a query would be sent in
            XML format.  Not all Map Servers support POST. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CapabilitiesType">
    <xs:sequence>
      <xs:element type="FormatType" name="Format"/>
      <xs:element type="DCPTypeType" name="DCPType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureInfoType">
    <xs:sequence>
      <xs:element type="FormatType" name="Format"/>
      <xs:element type="DCPTypeType" name="DCPType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="MapType" name="Map"/>
      <xs:element type="DescribeLayerType" name="DescribeLayer"/>
      <xs:element type="CapabilitiesType" name="Capabilities"/>
      <xs:element type="FeatureInfoType" name="FeatureInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExceptionType">
    <xs:sequence>
      <xs:element type="FormatType" name="Format"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserDefinedSymbolizationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="SupportSLD"/>
        <xs:attribute type="xs:string" name="UserLayer"/>
        <xs:attribute type="xs:string" name="UserStyle"/>
        <xs:attribute type="xs:string" name="RemoteWFS"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LatLonBoundingBoxType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="minx" use="optional"/>
        <xs:attribute type="xs:string" name="miny" use="optional"/>
        <xs:attribute type="xs:string" name="maxx" use="optional"/>
        <xs:attribute type="xs:string" name="maxy" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BoundingBoxType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="SRS"/>
        <xs:attribute type="xs:string" name="minx"/>
        <xs:attribute type="xs:string" name="miny"/>
        <xs:attribute type="xs:string" name="maxx"/>
        <xs:attribute type="xs:string" name="maxy"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LogoURLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="height"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AttributionType">
    <xs:sequence>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="OnlineResourceType" name="OnlineResource"/>
      <xs:element type="LogoURLType" name="LogoURL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureListURLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LegendURLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="format" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StyleSheetURLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StyleType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="USGS"/>
            <xs:enumeration value="ATLAS"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="USGS Topo Map Style"/>
            <xs:enumeration value="Road atlas style"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Abstract">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Features are shown in a style like that used in USGS topographic maps."/>
            <xs:enumeration value="Roads are shown in a style like that used in a commercial road atlas."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="LegendURLType" name="LegendURL" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> A picture of a legend for a Layer in this Style  An XML (GML) encoding of the legend for GML-enabled clients </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="StyleSheetURLType" name="StyleSheetURL" minOccurs="0">
        <xs:annotation>
          <xs:documentation> An XSL stylesheet for rendering this layer in this style when requested in GML format </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScaleHintType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="min"/>
        <xs:attribute type="xs:string" name="max"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MetadataURLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="format" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LayerType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation> This parent layer has a Name and can therefore be requested from a Map Server, yielding a map of all subsidiary layers. </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ROADS_1M"/>
            <xs:enumeration value="RIVERS_1M"/>
            <xs:enumeration value="ROADS_RIVERS"/>
            <xs:enumeration value="Clouds"/>
            <xs:enumeration value="Temperature"/>
            <xs:enumeration value="Pressure"/>
            <xs:enumeration value="ozone_image"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Roads at 1:1M scale"/>
            <xs:enumeration value="Rivers at 1:1M scale"/>
            <xs:enumeration value="Roads and Rivers"/>
            <xs:enumeration value="Forecast cloud cover"/>
            <xs:enumeration value="Forecast temperature"/>
            <xs:enumeration value="Forecast barometric pressure"/>
            <xs:enumeration value="Weather Forecast Data"/>
            <xs:enumeration value="Global ozone distribution (1992)"/>
            <xs:enumeration value="Acme Corp. Map Server"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Abstract">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Roads at a scale of 1 to 1 million."/>
            <xs:enumeration value="Rivers at a scale of 1 to 1 million."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="KeywordListType" name="KeywordList"/>
      <xs:element type="MetadataURLType" name="MetadataURL">
        <xs:annotation>
          <xs:documentation> Metadata specific to this particular layer.  The same FGDC metadata is offered in two formats. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SRS">
        <xs:annotation>
          <xs:documentation> The following characteristics are inherited by subsidiary layers. </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="EPSG:26986"/>
            <xs:enumeration value="EPSG:4326"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="LatLonBoundingBoxType" name="LatLonBoundingBox">
        <xs:annotation>
          <xs:documentation> An additional SRS for this layer  harmless repetition of common SRS  harmless repetition of common SRS </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="BoundingBoxType" name="BoundingBox"/>
      <xs:element type="AttributionType" name="Attribution"/>
      <xs:element type="FeatureListURLType" name="FeatureListURL"/>
      <xs:element type="StyleType" name="Style">
        <xs:annotation>
          <xs:documentation> In addition to the Style specified in the parent Layer, this Layer is available in this style. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ScaleHintType" name="ScaleHint"/>
      <xs:element type="LayerType" name="Layer">
        <xs:annotation>
          <xs:documentation> all layers are available in at least this SRS  Example of a layer which is a static map of fixed
         size which the server cannot subset or make transparent </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="DimensionType" name="Dimension">
        <xs:annotation>
          <xs:documentation> Pressure is available at several elevations.
         EPSG:5030 is WGS 84 ellipsoid, units in metres.
         Pressure is also available at several times.
         NOTE: first list all Dimension elements, then all Extent elements.  These weather data are available daily from 1999-01-01 through
           2000-08-22. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ExtentType" name="Extent"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="queryable" use="optional"/>
    <xs:attribute type="xs:string" name="opaque" use="optional"/>
    <xs:attribute type="xs:string" name="noSubsets" use="optional"/>
    <xs:attribute type="xs:string" name="fixedWidth" use="optional"/>
    <xs:attribute type="xs:string" name="fixedHeight" use="optional"/>
  </xs:complexType>
  <xs:complexType name="DimensionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="units" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ExtentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="default" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CapabilityType">
    <xs:sequence>
      <xs:element type="RequestType" name="Request"/>
      <xs:element type="ExceptionType" name="Exception"/>
      <xs:element type="xs:string" name="VendorSpecificCapabilities">
        <xs:annotation>
          <xs:documentation> Any text or markup is allowed here, as required to describe
       vendor-specific capabilities.  Please define elements and attributes
       in the DOCTYPE declaration at the start of the document.  This example is empty because no VSPs were defined in preamble </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="UserDefinedSymbolizationType" name="UserDefinedSymbolization"/>
      <xs:element type="LayerType" name="Layer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WMT_MS_CapabilitiesType">
    <xs:sequence>
      <xs:element type="ServiceType" name="Service">
        <xs:annotation>
          <xs:documentation> Service Metadata </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="CapabilityType" name="Capability"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="updateSequence"/>
  </xs:complexType>
</xs:schema>